# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.HOLOKIT.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UNITY PROJECT\HOLOKIT\.idea\.idea.HOLOKIT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
